html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
    &::after {
    display: block;
    content: "";
    clear: both;
  }
}

header::-webkit-scrollbar,
body::-webkit-scrollbar { 
  width: 0; 
}

header,
body { 
  -ms-overflow-style: none; 
}
 
input:focus, 
button:focus {
	outline: none;
}

.no-pad {
  padding: 0;
}

.mob {
  display: none;
}

.desktop {
  display: block;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #212121;
    background-color: #fff;
}

.left-align {
	float: left;
}

.right-align {
	float: right;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
		transition: .3s;
	}
}

.video-js {
    width: 100% !important;
    height: 340px;
    border-radius: 10px;
    box-shadow: 0 14px 30px -10px rgba(0, 0, 0, 0.5);
}

.vjs-afterglow-skin .vjs-big-play-button:before {
  content: "\f04b" !important;
  font-family: FontAwesome !important;
  font-size: 40px !important;
  left: 5px !important;
  top: -1px !important;
  transition: .3s;
}

.vjs-afterglow-skin .vjs-big-play-button {
  border: 2px solid #fff !important;
  border-radius: 100% !important;
  top: 65% !important;
  left: 81% !important;
  transition: .3s;
  &:hover {
    &::before {
      font-size: 45px !important;
      transition: .3s;
    }
  }
}

.vjs-afterglow-skin video {
    background-color: #000 !important;
    border-radius: 10px !important;
}
.vjs-poster {
  background-size: cover !important;
  border-radius: 10px !important;
}
.vjs-afterglow-skin .vjs-poster {
  opacity: 1 !important;
}

.top0 {
  margin-top: 0;
  margin-right: 0;
  top: -53px;
  left: 0;

}